PatrickF1/fzf.fish
oh-my-fish/plugin-aws
franciscolourenco/done
brgmnn/fish-docker-compose
{{ with .chezmoi.osRelease }}{{ if ne .id "arch" -}}
jorgebucaran/fisher
{{- end -}}
{{- else -}}
jorgebucaran/fisher
{{- end -}}
